#drum-pads-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #drum-pads-panel {
    width: 345px;
  }
}

@media (max-width: 400px) {
  #drum-pads-panel {
    width: auto;
  }
}
