/* Global variables */
:root {
  --main-font: "Roboto Mono", monospace;
  --border-radius: 3px;
  --drum-machine-bg: mediumslateblue;
  --drum-pad-bg: rgb(250, 232, 68);
  --drum-pad-accent: rgb(216, 55, 27);
  --current-sound-display-bg: #fff;
}

/* Remove default margin */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: rgb(24, 14, 14);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
